

/* @font-face {
    font-family: 'Halenoir';
    src: url('Halenoir/HalenoirExpanded-DemiBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Halenoir-ExtraBold';
    src: url('Halenoir/HalenoirExpanded-ExtraBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

 */
/* Aplicar la fuente a todo el sitio */

/* h1 {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vega-artistas-h1 {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

 */

 li, h1, h2 {
  font-family: "Righteous", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.carousel-container {
    width: 100vw;
    /* 100% del ancho de la pantalla */
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* Carrusel con imágenes en fila */
.carousel {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Imágenes en formato vertical */
.carousel img {
    width: 300px;
    /* Ancho fijo */
    height: 460px;
    /* Alto fijo */
    object-fit: cover;
    border-radius: 10px;
}

nav.navbar {
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    /* fondo oscuro, semitransparente */
    z-index: 1050;
    /* aseguramos que esté por encima de todo */
}

body {
    padding-top: 100px;
    /* para que el contenido no quede tapado por el navbar */
}

.main-navbar {
    background-color: rgba(0, 0, 0, 0.4); /* fondo oscuro transparente */
    backdrop-filter: blur(5px); /* efecto difuminado de fondo */
    transition: background-color 0.3s ease;
  }
  
  .navbar .nav-link,
  .navbar .btn {
    color: white;
  }
  
  .bottom-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    pointer-events: none;
    z-index: 2;
  }